.card h3,h4,h5,h6{
  color: #fff;
  
}
.card_product {
  font-size: 18px;
  font-weight: bold;
}
.card {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card p{
  text-transform: capitalize;
}
.card_price {
  white-space: nowrap;
}